<div class='text-center'>
  <%= form_for [@post], html: {class: 'well'} do |f| %>

      <div class="controls controls-row">
        <%= f.label :title, 'Title', class: "control-label" %>
        <%= f.text_field :title, :autofocus => true %>
      </div>

      <div class="controls controls-row">
        <%= f.label :message, class: "control-label" %>
        <%= f.text_area :message %>
      </div>


      <%= f.submit "Add Post", class: "btn btn-primary" %>
  <% end %>

      <% @posts.each do |post| %>
          <div class="container" id=<%= post.id %>>
              <div class="display">
                <%= post.title %>
                <%= post.message %>
              </div>
              <div class="edit">
                <%= form_for [post] do |p| %>
                <%= p.text_field :title %>
                <%= p.text_field :message %>
                <%= p.submit "Edit Post", class: "btn btn-primary" %>
                <% end %>
              </div>
          </div>
      <% end %>

</div>


