<div class='text-center'>
  <%= form_for [@post], html: {class: 'well'} do |f| %>

      <div class="controls controls-row">
        <%= f.label :title, 'Title', class: "control-label" %>
        <%= f.text_field :title, :autofocus => true %>
      </div>

      <div class="controls controls-row">
        <%= f.label :message, class: "control-label" %>
        <%= f.text_area :message %>
      </div>


      <%= f.submit "Add Post", class: "btn btn-primary" %>
  <% end %>

  <table class="table table-striped">
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.message %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
